

<div class="container">
<h1> Posez votre question juste ici </h1>
  <div class="question">
    <form action="/answer" method="get" style="margin: 55px">
     <input type="text" name="ask"><p>
     <input type="submit" value="Go!" class="btn btn-ghost">
    </form>
  </div>
</div>
